<a href="https://colab.research.google.com/github/viviviannnnn/python/blob/main/My_SQL%E5%89%B5%E5%BB%BA%E8%B3%87%E6%96%99%E5%BA%AB_code%E5%82%99%E4%BB%BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# CREATE DATABASE `sql_class`;
# USE `sql_class`;

# CREATE TABLE `student`(
# 	`student_id` INT AUTO_INCREMENT,
#     `name` VARCHAR(20) UNIQUE,
#     `major` VARCHAR(20) DEFAULT'歷史',
#     `score` INT,
#     PRIMARY KEY(`student_id`)
# );

# DROP TABLE`student`;
# DESCRIBE `student`; -- 顯示屬性
# ALTER TABLE `student` ADD `gpa` DECIMAL(3,2);
# ALTER TABLE `student` DROP COLUMN `gpa`;

# SELECT*FROM `student`; -- 顯示表格和內容
# INSERT INTO `student` VALUES(1,'小白','歷史');
# INSERT INTO `student`(`name`,`major`,`student_id`) VALUES ('小黑','生物',2);
# INSERT INTO `student`(`name`,`student_id`) VALUES ('小白',1);
# INSERT INTO `student`(`name`,`major`,`score`) VALUES ('小紫','設計',92);

In [ ]:
# -- 修改＆刪除資料Update&delete

# SET SQL_SAFE_UPDATES = 0;

# CREATE TABLE `student`(
# 	`student_id` INT AUTO_INCREMENT,
#     `name` VARCHAR(20) UNIQUE,
#     `major` VARCHAR(20) DEFAULT'歷史',
#     PRIMARY KEY(`student_id`)
# );

# SELECT*FROM `student`;

# UPDATE `student`
# SET `score` = 82
# WHERE `student_id` = 12;

# UPDATE `student`
# SET `name` = '綠綠',`major` = '健康與體育'
# WHERE `student_id` = 3;

# DELETE FROM `student`
# WHERE `name` = '小白';

# DELETE FROM `student`
# WHERE `score` <88;

# DELETE FROM `student`; -- 內部資料全部刪除

In [ ]:
# -- 取得資料

# SELECT*FROM `student`;

# SELECT `name`,`major` FROM `student`;

# SELECT*
# FROM `student`
# ORDER BY `score` DESC -- 由高到低alter
# LIMIT 3;

# SELECT*
# FROM `student`
# ORDER BY `score`,`student_id`; -- 會由低到高（ASC）

# SELECT*
# FROM`student`
# WHERE `major` = '體育' OR `score` <> 77
# LIMIT 3 ;

# SELECT*
# FROM `student`
# WHERE `major` IN ('經濟','美術'); -- 等於`major` = '經濟' OR `major` = '美術'